@font-face{
    font-family:'ubuntu-regular';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
  }
@font-face{
  font-family:'montserrat-regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
  font-family:'montserrat-extra-light';
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face{
  font-family:'montserrat-italic';
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face{
  font-family:'montserrat-bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

/*****************
    RESET CSS
*****************/
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
div.clear-fix{
    clear: both;
}
/*****************
    Root CSS
*****************/
:root{
    /* FONTS */
    --fontTitle:'';
    --fontsubtitle:'';
    --fontText:'ubuntu-regular';

    /* COLORS */
    --mainColor:#f2f2f2;
    --secondaryColor:#04546d;
}
body{
    line-height: 1.5;
}







/**************************** HEADER STYLE ****************************/
header.header{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    min-height: 100vh;
}

/*************** MENU ***************/
nav.menu-container{
    position: fixed;
    width: 100%;
    z-index: 1;
}
/* LOGO */
div.logo-topo{
    position: fixed;
    float: left;
    margin: 0.3em 0em 0em 1em;
    color:#fff;
    font-weight: bold;
    font-size:2em;
  }
  div.logo-topo img{
    width:120px;
    height: auto;
    position: relative;
    display: block;
  }
/* MENU */
nav ul{
    list-style: none;
    background:transparent;
    overflow: hidden;
    color:#fff;
    padding:0;
    text-align: right;
    margin:0 0 0 0;
    transition: 0.3s ease-in-out;
}
nav ul li{
    display: inline-block;
    padding: 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 1em 0.8em 1em 0.8em;
    transition: 0.3s ease-in-out;
    font-family:'montserrat-regular';
    letter-spacing:0.1em;
    text-transform: capitalize;
    font-style:normal;
}
nav ul li a:hover{
    background:#04546d;
    transition: 0.3s ease-in-out;
}
/*
nav hr.hr-menu{
 border: 0.50px solid #bbb;
 width: 25%;
 float:right;
}*/
nav hr.hr-menu{
  opacity: 0.1;
  border: 0.50px solid grey;
}

/* CSS Used to change the bakground color when it's responsible */
nav.black-menu ul{
  background:rgba(0,0,0,0.9);
}
nav.black-link ul li a{
  color:#fff;
}
/* CSS Used to style the menu icon to be clicked */
div.menu-icon{
    width: 100%;
    /*background: #000;*/
    text-align: right;
    box-sizing: border-box;
    padding: 0.6em;
    display:none;
}
div.menu-icon i{
    cursor: pointer;
    color: #04546d;
    font-weight: lighter;
}
/*************** MENU ***************/

/*** TITLES ***/
header div.title-header { /*Confs to keep it to the center*/
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
header div.title-header h1{
  width: auto;
  position: relative;
  display: inline-block;
  color:#fff;
  letter-spacing:0.6em;
  font-family: 'montserrat-extra-light';
  font-weight: 550;
  text-align: center;
  margin: 0em auto 0em auto;
  font-size: 2.6em;
    /*Animation*/
      animation-name: slideFromRight;
      animation-duration: 1s;
      animation-timing-function:ease-in-out;
    /*Animation*/
}
header div.title-header hr.hr-bar-left{
  width: 55%;
  border:0.50px solid #ddd;
  /*Animation*/
  animation-name: slideFromLeft;
  animation-duration: 2s;
  animation-timing-function:ease-in-out;
/*Animation*/
}
header div.title-header hr.hr-bar-right{
  float:right;
  width: 55%;
  border:0.50px solid #ddd;
  /*Animation*/
  animation-name: slideFromLeft;
  animation-duration: 2s;
  animation-timing-function:ease-in-out;
/*Animation*/
}
header div.title-header h3{
  width:auto;
  color: #ddd;
  font-family:'montserrat-italic';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight:lighter;
  text-align: center;
  background:rgba(255,255,255,0.05);
  display:block;
  margin: 4em auto 5em auto;
  padding: 0.5em 0em 0.5em 0em;
      /*Animation*/
      animation-name: subtitleShow;
      animation-duration: 3s;
      animation-timing-function:ease;
    /*Animation*/
}
header div.title-header a.header-button{
  color:#fff;
  font-family: 'montserrat-extra-light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0.8rem 1.9rem;
  margin: 0em 0em 0em 0em;
  border:2px solid rgba(255,255,255,0.6);
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3em;
  background:transparent;
  transition: 0.5s ease-in-out;
      /*Animation*/
      animation-name: showButton;
      animation-duration: 1.2s;
      animation-timing-function:ease-in-out;
      /*Animation*/
}
header div.title-header a.header-button:hover{
  background:rgba(255,255,255,0.7);
  transition: 0.5s ease-in-out;
  color: #04546d;
  transform: scale(1.1);
}

/*** BACKGROUND VIDEO ***/
header div.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
header div.video-container video{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header div.overlay-video{
  background:rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  z-index: 1;
}
/*** BACKGROUND VIDEO ***/

/* MEDIA-QUERY used to let the menu responsible */
/* CSS Will take effect when the VIEWPORT is between 0PX UNTIL 700px */
@media (max-width: 700PX){
  div.logo-topo{
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top:0.3em;
    transition: 0.5s ease-in-out;
  }
  nav ul{
    max-height: 0;
    background:rgba(255,255,255,0.9) !important;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding:0;
    text-align: center;
    font-weight: lighter;
  }
  nav ul li a{
    color:#000 !important;
  }
  nav ul li a:hover{
    color:#fff !important;
  }
  /* CSS Used to responsible MENU*/
  .show-menu{
    max-height: 20em;
  }
  div.menu-icon{
    display: block;
    background:rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(0,0,0,0.2);
  }
  /* CSS Used to responsible MENU*/

  /* Header Titles */
  header div.title-header h1{
    width: 100%;
    margin: 0em auto 0em auto;
    font-size: 1.9em;
  }
}
@media (max-width: 499px){
  /* Header Titles */
  header div.title-header h1{
    width: 100%;
    margin: 0em auto 0em auto;
    font-size: 1.5em;
  }
}
/* MEDIA-QUERY used to let the menu responsible */
/**************************** HEADER STYLE ****************************/





/**************************** DIVIDER STYLE ****************************/
div.content-divider{
  position: relative;
  display: block;
  height: 0.5rem;
  background: linear-gradient(
      to right,
      var(--secondaryColor),
      var(--mainColor)
      );
}
/**************************** DIVIDER STYLE ****************************/





/**************************** ABOUT SECTION STYLE ****************************/
section.section-about{
  background-color:transparent;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0em 0em 0em 0em;
  padding: 0rem;
  }
section.section-about div.about-title{
  position: relative;
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
section.section-about div.about-title h1{
    position: relative;
    display: block;
    margin: 1em 0em 0.3em 0em;
    padding: 0em 0em 0em 0em;
    font-family:'montserrat-bold';
    text-transform: capitalize;
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #000;
    font-weight: normal;
}
section.section-about div.about-title h1 strong{
    color: var(--secondaryColor);
}
section.section-about div.about-title p{
    position: relative;
    display: block;
    margin: 0em 0em 1em 0em;
    padding: 0em 2.5em 0em 2.5em;
    font-family:'montserrat-regular';
    text-transform: none;
    font-size: 0.97em;
    letter-spacing: 0.1em;
    font-weight: lighter;
    text-align: center;
}
section.section-about article.about-info{
    margin: 0em 0em 0em 0em;
    padding: 2em 3em 2em 3em;
    text-align: center;
    background-color:transparent;
    position:relative;
    display: block;
    width: 33.33%;
    float: left;
    height: auto;
}
section.section-about article.about-info span.about-icon i{
    color:white;
    margin: 0em 0em 0.5em 0em;
    padding: 0em 0em 0em 0em;
    transition: 0.2s ease-in;
    color:#000;
}
section.section-about article.about-info:hover i{
    transform: translateY(-9px);
    transition: 0.2s ease-in;
    cursor: pointer;
    color: var(--secondaryColor) !important;
}
section.section-about article.about-info:hover{
    background-image: linear-gradient(
        to right bottom,
        #dfdfff,
        #fff,
        #fff
        );
}
section.section-about article.about-info h3{
    text-align: center;
    margin: 0em 0em 1em 0em;
    padding: 0em 0em 0em 0em;
    font-family:'montserrat-regular';
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: var(--secondaryColor);
    font-weight: 900;
}
section.section-about article.about-info p{
    text-align: justify;
    margin: 0em 0em 1.5em 0em;
    padding: 0em 0em 0em 0em;
    font-family:'montserrat-regular';
    text-transform: none;
    font-size: 0.95em;
    letter-spacing: 0.1em;
    font-weight: lighter;
}
@media (max-width: 1050PX){
    section.section-about div.about-title{
      margin: 0em 0em 0em 0em;
      padding: 0em 0em 2em 0em;
    }
    section.section-about article.about-info{
      margin: 0em 0em 0em 0em;
      padding: 1em 3em 1em 3em;
      text-align: center;
      background-color:transparent;
      position:relative;
      display: block;
      width: 100%;
      height: auto;
    }
}
/**************************** ABOUT SECTION STYLE ****************************/






/**************************** PRODUCT SECTION STYLE ****************************/
 section.prod-section{
  background-color:whitesmoke;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 3em 0em;
  box-sizing: border-box;
}
section.prod-section div.prod-center{ /* Div Used to centrelize the inside content */
  position: relative;
  display:block;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
  width: 85vw;
  height: auto;
  border:0px solid black;
  box-sizing: border-box;
  text-align: center;
}

/* First Column */
article.prod-img{ /*The ARTICLE that keeps the IMAGE*/
  position: relative;
  display: block;
  background-color:transparent;
  float: left;
  width: 50%;
  padding: 2em 0em 2em 2em;
  margin: 0em auto 0em auto;
}
div.prod-img-container { /* Selecting the IMAGE CONTAINER */
  background: var(--secondaryColor);
  border: 0.2em solid var(--secondaryColor);
  border-radius: 0.2em;
  /* overflow */
  overflow: hidden;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
  width: 80%;
}
div.prod-img-container img.prod-picture { /* Selecting the inside IMAGE*/
  width: 100%;
  display: block;
  transition: 0.5s;
}
div.prod-img-container:hover img.prod-picture{
  opacity: 0.5;
  transform: scale(1.2);
}


/* Second Column */
article.prod-info{
  position: relative;
  display: block;
  background-color:transparent;
  float: left;
  width: 50%;
  height: auto;
  margin: 0em 0em 0em 0em;
  padding: 2em 0em 2em 0em;
}
article.prod-info div.prod-title{
  position: relative;
  line-height:2.3em;
  width: 100%;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
article.prod-info div.prod-title h2.prod-title{
  font-family:'montserrat-regular';
  text-transform: capitalize;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color:var(--secondaryColor);
  text-align: center;
}
article.prod-info div.prod-title h3.prod-subtitle {
  font-family:'montserrat-regular';
  text-transform: uppercase;
  font-size: 0.79em;
  letter-spacing: 0.2em;
  color:var(--secondaryColor);
  text-align: center;
  line-height: 1.8em;
  width: 80%;
  display: block;
  margin: 0.7em auto 0em auto;
}
article.prod-info p.prod-text{
  text-align: justify;
  margin: 0.5em 0em 2em 0em;
  padding: 1em 1.5em 0em 1.5em;
  font-family:'montserrat-regular';
  text-transform: none;
  font-size: 0.95em;
  letter-spacing: 0.1em;
  font-weight: lighter;
  line-height: 1.7em;
}
article.prod-info a.prod-button{
  color:#fff;
  font-family: 'montserrat-extra-light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0.9em 1.5em;
  margin: 0em auto 0em auto;
  border:0px solid #04546d;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3em;
  background:#04546d;;
  transition: 0.5s ease-in-out;
}
article.prod-info a.prod-button:hover{
  background:#fff;
  transition: 0.5s ease-in-out;
  color: #04546d;
  transform: scale(1.1);
  border: 2px solid #04546d;
  position: relative;
  font-weight: bolder;
}


 /*** Prod Section 2 ***/
 article.prod-img-2{ /*The ARTICLE that keeps the IMAGE*/
  position: relative;
  display: block;
  background-color:transparent;
  float: left;
  width: 50%;
  padding: 2em 2em 2em 0em;
  margin: 0em auto 0em auto;
}
/*** Prod Section 2 ***/

@media (max-width: 1050PX){
  article.prod-info{
    width: 100%;
  }
  article.prod-img{
    padding: 0.2em;
    margin: 2em auto 0em auto;
    width: 100%;
  }
  div.prod-img-container {
    width: 40%;
  }
  article.prod-img-2{
    padding: 0.2em;
    margin: 0em auto 0em auto;
    width: 100%;
  }
}
@media (max-width: 700px){
  div.prod-img-container {
    width: 60%;
  }
}
/**************************** PRODUCT SECTION STYLE ****************************/






/**************************** FOOTER STYLE ****************************/
footer.foot-content{
  background-color:transparent;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0em 0em 0em 0em;
  padding: 0.1em;
  background-color:#3a2d32;
  text-align: center;
}
footer hr.foot-line{
  position: relative;
  width: 90%;
  display:block;
  margin: 1.5em auto 0em auto;
  border: 0.5px solid rgba(255,255,255,0.1);
}
footer div.foot-title h3{
  width:auto;
  color: #ddd;
  font-family:'montserrat-regular';
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight:lighter;
  text-align: center;
  display:block;
  margin: 4em auto 3em auto;
  padding: 0em 0em 0em 0em;
}
footer div.foot-links{
  border:0px solid white;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0em auto 3em auto;
  padding: 0.8em 0.2em;
  color:rgba(255,255,255,0.9);
  /*background-color: rgba(0,0,0,0.2);*/
  background-color:#fff;
  border-radius: 5em;
  transition: 0.5s;
}
footer div.foot-links i.foot-face, i.foot-insta, i.foot-whats, i.foot-youtube{
  padding: 0em 1.5em 0em 1.5em;
  color:#023342;
  transition: 0.5s;
}
footer div.foot-links i.foot-face:hover{
  color:rgb(30, 130, 160);
  transform: scale(1.5);
  transition: 0.5s;
}
footer div.foot-links i.foot-insta:hover{
  color:rgb(30, 130, 160);
  transform: scale(1.5);
  transition: 0.5s;
}
footer div.foot-links i.foot-whats:hover{
  color:rgb(30, 130, 160);
  transform: scale(1.5);
  transition: 0.5s;
}
footer div.foot-links i.foot-youtube:hover{
  color:rgb(30, 130, 160);
  transform: scale(1.5);
  transition: 0.5s;
}
footer p.foot-text{
  position: relative;
  display: block;
  margin: 1em auto 3em auto;
  background-color: transparent;
  text-align: center;
  color:white;
  font-family:'montserrat-regular';
  text-transform: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: lighter;
}
footer p.foot-text a{
  color:white;
}
@media (max-width: 700px){
  footer div.foot-links i.foot-face, i.foot-insta, i.foot-whats, i.foot-youtube{
    padding: 0em 0.8em 0em 0.8em;
  }
}
@media (max-width: 399px){
  footer div.foot-links i.foot-face, i.foot-insta, i.foot-whats, i.foot-youtube{
    padding: 0em 0.6em 0em 0.6em;
  }
}
/**************************** PRODUCT SECTION STYLE ****************************/











/**************************** PRODUCT PAGES STYLE ****************************/

/************  HEADER-PAGE ***************/
header.boloc-header{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    min-height: 80vh;
    background-color:#04546d;
    background: 
      linear-gradient(
        to right bottom,
        /*
        rgba(117, 76, 22, 0.9),
        rgba(122, 80, 24, 0.5),
        */
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.5)
      ),
      url("../midia/images/header-negocio-online.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*
header.docec-header-bg{
  background: 
  linear-gradient(
    to right bottom,
    /*
    rgba(117, 76, 22, 0.9),
    rgba(122, 80, 24, 0.5),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.5)
  ),
  url("../midia/images/doce-caseiro/header-doce-caseiro.jpg") !important;
  background-position: right bottom !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-clip: border-box !important;
}
*/

header div.boloc-header-title{
  position: absolute;
  width: 80%;
  top: 50%;
  left: 45%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-align: left;
        /*Animation*/
        animation-name: subtitleShow;
        animation-duration: 3s;
        animation-timing-function:ease;
      /*Animation*/
}
header div.boloc-header-title h1.boloc-title{
  color:#fff;
  padding: 0em 0em 0em 0em;
  font-family:'montserrat-regular';
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: lighter;
  margin: 0em 0em 0em 0em;

}
header div.boloc-header-title h1.boloc-title strong{
  font-weight: lighter;
  font-size: 1.4em;
}
header div.boloc-header-title h1.boloc-title span{
  font-weight: lighter;
  font-size: 0.6em;
  letter-spacing: 0.2em;
}
header div.boloc-header-title p.boloc-subtitle{
  font-family:'montserrat-regular';
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color:#fff;
  margin: 0em;
  width: 80%;
  margin: 1.5em 0em 1em 3em;
}
header div.boloc-header-title a.boloc-header-button{
  color:#ff7404;
  font-family: 'montserrat-regular';
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0.7rem 1.1rem;
  margin: 1em 0em 0em 3.1em;
  /*border:1px solid rgba(255,255,255,0.6);*/
  display: inline-block;
  font-weight: 900 !important;
  cursor: pointer;
  border-radius: 0.3em;
  background:rgba(255,255,255,0.9);
  transition: 0.5s ease-in-out;
}
header div.boloc-header-title a.boloc-header-button:hover{
  /*background:rgba(255,255,255,0.7);*/
  background:#ff7404;
  transition: 0.5s ease-in-out;
  color: #fff;
  transform: scale(1.1);
  border:none;
}
header div.boloc-header-title hr.hr-bc-header{
  border:0.5px solid rgba(255,255,255,0.5);
}
@media (max-width: 800PX){
  header div.boloc-header-title h1.boloc-title{
    font-size: 1.5em;
  }
  header div.boloc-header-title h1.boloc-title span{
    display: block;
  }
}
/************  HEADER-PAGE ***************/







/************  INTRO-SECTION PAGE ***************/
section.intro-prod{
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  box-sizing: border-box;
  background-color:#fff;
  text-align: center;
}
section div.intro-prod-center{
  position: relative;
  display:inline-block;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
  width: 90vw;
  height: auto;
  text-align: left;
}
section div.intro-prod-center h1.intro-title, div.purchase-prod-center h1.purchase-title{
  font-family:'montserrat-regular';
  text-transform: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color:#ff7404;
  text-align: left;
  margin: 1.5em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  font-weight: bolder;
}
section div.intro-prod-center p.intro-text, div.purchase-prod-center p.purchase-text{
  text-align: left;
  margin: 2em 0em 1.5em 0em;
  padding: 0em 0em 0em 0em;
  font-family:'montserrat-regular';
  text-transform: none;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  font-weight: normal;
  line-height: 1.8em;
  /*color:rgb(27, 103, 107);*/
  color: rgba(0,0,0,0.8);
}
section div.intro-prod-center hr.hr-intro, div.purchase-prod-center hr.hr-purchase{
  border:0.7px solid /*rgba(27, 103, 107,0.5)*/ rgba(255, 116, 4, 0.3);
  width: 40%;
  margin: 1em 0em 0em 0em;
}

/*** Intro Video ***/
section article.intro-video{
  position: relative;
  display: inline-block;
  margin:0px;
  padding: 0px;
  width: 100%;
  height: auto;
  margin: 0em 0em 3em 0em;
}
section article.intro-video iframe{
  position: relative;
  display: block;
  width: 495px;
  /*min-width: 450px;*/
  height: 280px;
  margin: 0 auto 0 auto;
}
@media (max-width: 700px){
  section article.intro-video iframe{
    /*min-width: 300px;*/
    width: 440px;
    height: 255px;
  }
}
@media (max-width: 500px){
  section article.intro-video iframe{
    /*min-width: 300px;*/
    width: 370px;
    height: 200px;
  }
}
/*** Intro Video ***/
/************  INTRO-SECTION PAGE ***************/






/************  PRODUCT-SECTION PAGE ***************/
section.prod-content{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  box-sizing: border-box;
  background: whitesmoke;
}
/* Article Img */
section.prod-content article.content-img{ /*Article Image*/
  position: relative;
  display: block;
  background-color:transparent;
  float: left;
  width: 42%;
  height: auto;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
}
section.prod-content article.content-img div.content-img-container{ /* Image Container*/
  padding: 0em;
  margin: 0em auto 0em auto;
  width: 100%;
  height: auto;
  overflow:hidden;
}
section.prod-content article.content-img div.content-img-container img{ /* The image*/
  width:100%;
  height: 425px;
  display: block;
  transition: 1.2s;
  overflow:hidden;
}
section.prod-content article.content-img div.content-img-container:hover img{ /* The image*/
  transform: scale(1.1);
  transition: 1.2s;
  overflow:hidden;
}
/* Article Img */

/* Article Content */
section.prod-content article.content-info{
  position: relative;
  display: block;
  background-color:transparent;
  float: left;
  width: 58%;
  height: auto;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
}
section.prod-content article.content-info h1.content-title{
  font-family:'montserrat-regular';
  text-transform: capitalize;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color:#ff7404;
  text-align: left;
  margin: 2em 0em 0em 2em;
  padding: 0em 0em 0em 0em;
  font-weight: bolder;
}
section.prod-content article.content-info h1.content-title-2{
  text-align: right;
  float: right;
  margin: 2em 2em 0em 0em;
  width: 100%;
}
section.prod-content article.content-info p.content-text{
  text-align: left;
  margin: 2em 0em 2em 3em;
  padding: 0em 0em 0em 0em;
  font-family:'montserrat-regular';
  text-transform: none;
  font-size: 0.99em;
  letter-spacing: 0.05em;
  font-weight: lighter;
  line-height: 1.5em;
  color:rgba(0,0,0,0.8);
  width: 85%;
}
section.prod-content article.content-info p.content-text-2{
  text-align: right;
  margin: 2em 3em 2em 0em;
  padding: 0em 0em 0em 0em;
  float: right;
}
section.prod-content article.content-info hr.hr-prod-content{
  border:0.5px solid rgba(255, 116, 4, 0.3);
  width: 35%;
  margin: 1em 0em 0em 2.8em;
}
section.prod-content article.content-info hr.hr-prod-content-2{
  border:0.5px solid rgba(255, 116, 4, 0.3);
  width: 35%;
  margin: 1em 2.8em 0em 0em;
  float: right;
}
section.prod-content article.content-info a.content-prod-button{
  color:#fff;
  font-family: 'montserrat-regular';
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0.7rem 1.1rem;
  margin: 0.5em 0em 2em 3.8em;
  border:1px solid rgba(255,255,255,0.6);
  display: inline-block;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 0.3em;
  background:#ff7404;
  transition: 0.5s ease-in-out;
}
section.prod-content article.content-info a.content-prod-button:hover{
  background:rgba(255, 116, 4, 0.2);
  transition: 0.5s ease-in-out;
  color: #ff7404;
  transform: scale(1.1);
  font-weight:bolder;
}
section.prod-content article.content-info a.content-prod-button-2{
  float: right;
  margin: 0.5em 3.8em 2em 0em;
}
/* Article Content */
@media (max-width: 1050PX){
  section.prod-content article.content-img{
    width: 100%;
    padding: 2em 5em 0em 5em;
  }
  section.prod-content article.content-img div.content-img-container{
    width: 80%;
    border-radius: 1em;
  }
  section.prod-content article.content-img div.content-img-container-2{
    margin: 0em auto 4em auto;
  }
  section.prod-content article.content-img div.content-img-container img{
    height: auto;
  }
  section.prod-content article.content-info{
    width: 100%;
  }
  section.prod-content article.content-info a.content-prod-button-2{
    margin: 0.5em 3.8em 0.5em 0em;
  }
}
/************  PRODUCT-SECTION PAGE ***************/







/************  PURCHASE-SECTION PAGE ***************/
section.purchase-prod{
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  box-sizing: border-box;
  background-color:whitesmoke;
  text-align: center;
}
section div.purchase-prod-center{
  position: relative;
  display:inline-block;
  padding: 0em 0em 0em 0em;
  margin: 0em auto 0em auto;
  width: 90vw;
  height: auto;
  text-align: center;
}
section div.purchase-prod-center p.purchase-text{
  text-align: center;
  margin: 1em 0em 2em 0em;
  padding: 0em 0em 0em 0em;
}
section div.purchase-prod-center h1.purchase-title{
  text-align: center;
}
section div.purchase-prod-center hr.hr-purchase{
  margin: 1em auto 0em auto;
}
section div.purchase-prod-center a.purchase-button{
  color:#fff;
  font-family: 'montserrat-regular';
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  margin: 0em 0em 3em 0em;
  border:1px solid rgba(255,255,255,0.6);
  display: inline-block;
  font-weight: lighter !important;
  cursor: pointer;
  border-radius: 0.3em;
  background:#ff7404;
  transition: 0.5s ease-in-out;
}
section div.purchase-prod-center a.purchase-button:hover{
  background:rgba(255, 116, 4, 0.2);
  transition: 0.5s ease-in-out;
  color: #ff7404;
  transform: scale(1.1);
  font-weight: bolder;
}
/************  PURCHASE-SECTION PAGE ***************/
